/* BASE STYLING, for BINUSMAYA 5-7 */
body {
    background: #101010;
    color: #ffffff;
}

/* Login */
#page .background {
    background-color: #202120;
}
#page .background .overlay {
    background: #101010;
    opacity: 0.8;
}
#login,
.login,
#login-form,
#login-form .desc-section {
    background: #202120;
}
.login form.custom-form .custom-textbox .icon-wrap {
    background: none;
}
#login .bottom-nav {
    background: #414042;
}
#login .bottom-nav a, .login.login-binusmaya .login-body .links li a {
    color: #c9c9c9;
}

/* Header */
.header .top-navigation .navigation.fixed-layout,
#binus-header-wrapper {
    background: #202120;
    box-shadow: none;
    border-bottom: solid 1px #bababa;
}
.header,
.footer {
    background: #202120;
}

@supports(backdrop-filter: blur()) {
    .header .top-navigation .navigation.fixed-layout {
        background: rgba(32, 33, 32, 0.5);
        backdrop-filter: blur(20px);
    }
}

/* Logo */
img[src="https://bm5cdn.azureedge.net/asset/images/logo.png"],
img[src="../asset/images/logo.png"],
img[src="https://bm5cdn.azureedge.net/../asset/images/logo.png"],
img[src="/Content/logo.png"] {
    filter: contrast(0) brightness(2);
}
.banner-image,
.ribbon,
.svgcon-binus-ribbon {
    filter: hue-rotate(180deg) invert() contrast(0.75);
}
#tagline-banner-tail{
    filter: hue-rotate(180deg) invert() contrast(0.88);
}
img[src="https://bm5cdn.azureedge.net/newdefault/images/logo/logo-binusmaya.png"] {
    filter: hue-rotate(180deg) invert() brightness(2);
}

.logo-37{
    filter: hue-rotate(180deg) invert() contrast(0.88);
}
    
/* Menu */
.header .top-navigation .navigation .menu > li.current,
.header .top-navigation .navigation .menu > li.expand-menu.current,
.header .top-navigation .navigation .menu > li.expand-menu.current > a,
.header .top-navigation .navigation .menu > li.expand-menu.current > a::after,
.header .top-navigation .navigation .menu > li.expand-menu.current > span.wrapper,
.header .top-navigation .navigation .menu > li.expand-menu.current > span.wrapper::after,
.header .top-navigation .expand-menu .sub-menu{
    background: #414042;
}
.header .top-navigation .expand-menu .sub-menu.cloning-menu{
    background: #202120;
    box-shadow: none;
}
.header .top-navigation .expand-menu .sub-menu.cloning-menu.zebra{
    background: #101010;
}
.header .top-navigation .expand-menu .sub-menu.cloning-menu li a{
    color: #ffffff
}
.header .top-navigation .navigation .menu > li.current > a::after,
.header .top-navigation .navigation .menu > li.current > span.wrapper::after {
    background: #f48b31;
}
.header .top-navigation .expand-menu .sub-menu li::before,
.header .top-navigation .expand-menu .sub-menu.primary-menu .mCSB_scrollTools .mCSB_draggerRail,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background: #ffffff
}
/* Menu Arrow */
.header .top-navigation .expand-menu .sub-menu-child-indicator.primary{
    filter: saturate(0) contrast(3) brightness(0.65);
}
.header .top-navigation .expand-menu .sub-menu-child-indicator{
    filter: saturate(0) invert() brightness(3.5) contrast(1.17);
}
.header .top-navigation .expand-menu .sub-menu-child-indicator.zebra{
    filter: saturate(0) invert() brightness(3.5) contrast(3.75);
}
.header .top-navigation .expand-menu .sub-menu {
    border: 1px solid #adadad
}
/* Notification Bar */
.header .top-navigation .expand-notification .sub-menu li.view-all {
    color: #fff;
    background: #303130;
}
.header .top-navigation .expand-notification .sub-menu li.list-notification {
    background: #101010;
}
.header .top-navigation .expand-notification .sub-menu li.list-notification .notification .thumbnail {
    background: none;
}
.header .top-navigation .expand-notification .sub-menu li.list-notification .notification .details .description {
    /*filter: brightness(1.5);*/
    filter: hue-rotate(180deg) invert();
}

/* Profile Bar */
.header .top-navigation .expand-settings .sub-menu li.sub-title {
    color: #ffffff;
    background: #303130;
}
.header .top-navigation .expand-settings .sub-menu li.setting-content {
    background: #101010;
}
.header .top-navigation .expand-settings .sub-menu li.setting-content .details {
    color: #ffffff;
}
.header .top-navigation .expand-settings .sub-menu li.setting-content .details .link a {
    color: inherit;
}

/* Search Bar */
.header .top-navigation .navigation .menu .expand-search-form .search-form .search-form-field {
    color: #c9c9c9;
}
.header .top-navigation .navigation .menu .expand-search-form .sub-menu {
    background: #303130;
}
.header .top-navigation .navigation .menu .expand-search-form .sub-menu li.sub-title {
    background: #414042;
}

/* Dashboard Widgets */
#main-content.has-widget {
    background: #101010;
}
#main-content.has-widget .widget-parent .widget,
#main-content.has-widget .widget-parent .widget .widget-footer,
#main-content.has-widget .box-container,
.agenda-navigation,
.body-navigation .nav-head,
.header .top-navigation .expand-notification .sub-menu li.sub-title {
    background: #202120;
    border-color: #484948;
}

/* Workarounds for static (image-based) widgets*/
img[onerror='this.onerror=null; this.src="https://bm5cdn.azureedge.net/asset/images/404/404-GPA.png";'],
img[onerror='this.onerror=null; this.src="https://bm5cdn.azureedge.net/asset/images/404/404-SAT.png";'] {
    filter: hue-rotate(180deg) invert() contrast(0.75);
}

/* Forms */
input,
select,
.user-role .wrap .field .component .login-role .combobox-label {
    background-color: #101010;
}
.user-role .wrap .field .component .login-role .combobox-label::after {
    background-color: #101010;
}
.custom-combobox {
    background: #101010;
}
.custom-combobox .combobox-label {
    color: #ffffff;
}
.search-filter-form {
    background: none;
}

/* Typography */
#page .page-sub-heading h2,
form label {
    color: #fff;
}

/* Icons */
.nav.prev-button,
.nav.next-button,
.btn-nav.prev,
.btn-nav.next,
.btn-nav.up,
.btn-nav.down,
.freeze-pane .dataTables_paginate > .paginate_button.previous:not(:hover),
.freeze-table .dataTables_paginate > .paginate_button.previous:not(:hover),
.freeze-pane .dataTables_paginate > .paginate_button.next:not(:hover),
.freeze-table .dataTables_paginate > .paginate_button.next:not(:hover) {
    filter: brightness(0.7) contrast(250%);
}
.custom-combobox::after,
.freeze-pane .dataTables_filter label::before,
.freeze-table .dataTables_filter label::before {
    filter: brightness(0.7) contrast(250%);
}
.icon:not(.icon-twitter):not(.icon-facebook):not(.icon-lms-checklist) {
    filter: brightness(2);
}
.iDownload {
    filter: invert();
}
.input-group .addon {
    background: #848484;
}
.loader .indicator{
    filter: hue-rotate(180deg) invert() contrast(0.75);
}


.header .top-navigation .navigation .menu > li > a,
.header .top-navigation .navigation .menu > li > span.wrapper,
.user-profile .details .action a {
    color: #ccc;
    border-right: 1px solid #c9c9c9
}

.page-information {
    background: #303130;
}

.body-navigation .nav-head ul li a {
    color: #bbb;
}

/* Table */
table thead,
.legend.new-layout,
.legend .header {
    background: #414042;
}
table tbody,
table tfoot,
table tbody tr {
    background: #101010;
}
.freeze-pane .dataTables_filter,
.freeze-table .dataTables_filter,
.freeze-pane .dataTables_length,
.freeze-table .dataTables_length,
.freeze-pane .dataTables_length select,
.freeze-table .dataTables_length select {
    background: #414042;
}
table.zebra tbody tr:nth-child(even) {
    background: #202120;
}
.notifications .list-notification .notification:nth-child(2n) {
    background: #202120;
}
table tbody tr th, table th {
    background: #414042;
}
.iDescription div[style="background-color: #e8e8e8;border: 1px solid Gray; padding:20px 20px 0px 20px;"] {
    color: #414042;
    filter: invert(1);
}
li.iLO[style="text-align:left; background:white; border:none; word-break:break-all;"],
li.iTLS[style="text-align:left; background:white; border:none; word-break:break-all;"]{
    background: none !important;
}
td.iComponentsSummary,
td.iLOSummary,
td.iComponentsSSR,
td.iWeightSummary {
    color: #414042;
    filter: hue-rotate(180deg) invert(1);
}

.exam-notes-div {
    background: #303130;
}

/* Topics */
.session-wrap,
.topics-wrap,
.class-resource-item .weekdetail {
    color: #5e5e5e;
    filter: hue-rotate(180deg) invert(1);
}

/* Popups (SweetAlert2 / swal2) */
.swal2-popup{
    background: #202120;
}

/* POLYFILL for BINUSMAYA 3-4 */
/* Logo */
#app-name a {
    filter: hue-rotate(180deg) invert() contrast(0.75);
}
/* Navbar */
#user-role {
    background: #414042;
}
/* Tabs */
#body-nav ul li a{
    border-bottom: 5px solid #202120;
}
/* Forms */
.wrap-outer {
    background: #202120;
}
h1,
h2,
h3,
:not(.class-resource-item):not(.detailed) h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: #ffffff;
}
/* Tables */
table {
    background: #101010;
}
table tbody tr:nth-child(2n) {
    background: #303130;
}
table tbody tr td {
    border-left: 1px solid #414042;
}
input[type="text"],
input[type="password"],
select,
textarea {
    background: #000000;
    color: #ffffff
}
input {
    color: #ffffff
}
/* Popups (Fancybox) */
.fancybox-outer {
    background: #202120;
    color: #ffffff
}
/* Icons */
img[src="../../../staff/images/base/loading-circle.gif"],
img[src="https://binusmaya.binus.ac.id/student/images/loading.gif"] {
    filter: hue-rotate(180deg) invert();
}
img[src="https://bm5cdn.azureedge.net/asset/images/loading.gif"] {
    filter: hue-rotate(180deg) invert() contrast(0.75);
}

/* POLYFILL for Student Practicum (lab.slc.net) */
.cform {
    color: #fff;
    text-shadow: 0 1px 0 #202120
}
a {
    color: #0098D7;
}
.ftitle, footer {
    color: #fff;
}
/* NOTE: Galaxion uses dark mode by default, so expect minor changes */

/* POLYFILL for Scribees */
img[src="http://binus.ac.id/scribees/wp-content/uploads/2020/04/sitelogo.svg"],
img[src="https://binus.ac.id/scribees/wp-content/themes/binus-2018-163-scdc-oldoc/image/logo.png"] {
    filter: contrast(0) brightness(2);
}
.block-header.type-1 .the-h3,
.empty-data,
.generic-form .field-label, .generic-form label,
.generic-form .text.form-control,
.C--side-menu.type--1 .side-menu__body .content__list-menu .side-menu .menu__item a,
.breadcrumb li {
    color: #fff;
}
.C--side-menu.type--1 .side-menu__body .content__list-menu .side-menu .menu__item a:hover {
    color: #bbb;
}
.M--navigation.type--1 .navigation .menu .menu--component,
.M--navigation.type--1 .navigation .notifications {
    background: #303130;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control,
.generic-form .input-group .input-group-addon {
    background: #414042;
}

/* POLYFILL for Collabees */
#login .user-input label span {
    color: #ffffff
}
/* TODO: Add more Collabees support */
